/*--------------CARDS PLAYER----------------*/

#categoriesManager {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
}

button {
    cursor: pointer;
}

#goToCategoryMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 1vw 5px 1vw;
    max-width: 75%;
}

.goToCategoryButton {
    margin: 5px 10px;
}

.navigationButton {
    display: flex;
    background-color: transparent;
    border: none;
    transition: transform 0.45s;
}

.navigationButton:active {
    transform: scale(1.03);
}

.navigationButton img {
    opacity: 0.7;
    transition: opacity 0.45s;
}

.navigationButton:hover img {
    opacity: 1;
}

.navigationButton > span {
    margin: 5px 0;
    color: #dadada;
}

.previousCategory, .nextCategory {
    flex-direction: column;
    align-items: center;
}

.previousCategory {
    padding-top: 10px;
    margin-top: 20px;
}

.nextCard, .previousCard {
    align-items: center;
}

.previousCategory {
    flex-direction: column-reverse;
}

.previousCard {
    flex-direction: row-reverse;
}

.nextCard {
    flex-direction: row;
}

.previousCard > span {
    text-align: right;
    margin-right: 7px;
}

.nextCard > span {
    text-align: left;
    margin-left: 7px;
}

.previousCard > img, .nextCard > img {
    min-height: 100px;
    height: 15vw;
}

.previousCategory > img, .nextCategory > img {
    min-width: 150px;
    width: 15vw;
}


/*--------------CATEGORIES MANAGER----------------*/

.category.displayed {
    display: flex;
}

.category {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}


/*--------------CARDS MANAGER----------------*/

.cardsManager {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 }

.cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 35vw;
    width: 90%;
}

.card.displayed {
    display: flex !important;
}

.card {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 35vh;
    min-width: 250px;
    max-width: 25vw;
    border-radius: 10px;
    margin: 0 30px 50px 30px;
    color: white;
    background-color: rgba(57, 74, 84, 0);
}

.cardTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f50000aa;
    width: 96%;
    padding: 2%;
    border-radius: 10px 10px 0 0;
}

.cardTitle > h3 {
    color: #292932;
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.cardContent {
    display: flex;
    width: 90%;
    padding: 0 5% 10px 5%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 14px;
}



.jobDescription {
    text-align: left;
}

.jobIllustration {
    margin-top: 20px;
    height: 100px;
}

.keyInformation {
    padding: 0;
}

.keyInformation > li {
    list-style: none;
    font-weight: bold;
    margin: 7px;
}

.keyInformation > li > span {
    font-weight: normal;
    color: #d0d0d0;
}


/*Themes des cartes selon la catégorie*/

#categoryWeb .card {
    box-shadow: rgba(240, 95, 136, .5) 0 0 70px;
    background-color: #3B3F48;
}

#categoryWeb .cardTitle {
    background-color: #F05F88;
}

#categoryWeb h2 {
    color: #F05F88;
}


#categorySecurity .card {
    box-shadow: rgba(138, 187, 230, .32) 0 0 70px;
    background-color: #2E404A;
}

#categorySecurity .cardTitle {
    background-color: #8ABBE6;
}

#categorySecurity h2 {
    color: #8ABBE6;
}


#categoryVideoGames .card {
    box-shadow: rgba(169, 102, 171, .55) 0 0 50px;
    background-color: #373F4B;
}

#categoryVideoGames .cardTitle {
    background-color: #A966AB;
}

#categoryVideoGames h2 {
    color: #A966AB;
}


#categoryScience .card {
    box-shadow: rgba(120, 196, 124, 0.38) 0 0 50px;
    background-color: #304347;
}

#categoryScience .cardTitle {
    background-color: #78c47c;
}

#categoryScience h2 {
    color: #78c47c;
}


#categoryData .card {
    box-shadow: rgba(254, 210, 85, 0.3) 0 0 60px;
    background-color: #374246;
}

#categoryData .cardTitle {
    background-color: #FED255;
}

#categoryData h2 {
    color: #FED255;
}


#categoryTrading .card {
    box-shadow: rgba(245, 127, 97, .35) 0 0 70px;
    background-color: #383F45;
}

#categoryTrading .cardTitle {
    background-color: #F57F61;
}

#categoryTrading h2 {
    color: #F57F61;
}


/*Themes des boutons de catégorie*/

.goToCategoryButton {
    color: white;
    font-size: 14px;
    padding: 3px 8px;
    border: none;
    border-radius: 10px;
    transition: background-color, transform .35s;
}

.goToCategoryButton:active {
    transform: scale(1.1);
}

#goToCategoryWeb {
    background-color: rgba(199, 35, 96, .8);
}

#goToCategoryWeb:hover {
    background-color: rgba(199, 35, 96, 1);
}


#goToCategoryVideoGames {
    background-color: rgba(127, 59, 137, .8);
}

#goToCategoryVideoGames:hover {
    background-color: rgba(127, 59, 137, 1);
}


#goToCategorySecurity {
    background-color: rgba(71, 142, 205, .8);
}

#goToCategorySecurity:hover {
    background-color: rgba(71, 142, 205, 1);
}


#goToCategoryScience {
    background-color: rgba(79, 159, 79, .8);
}

#goToCategoryScience:hover {
    background-color: rgba(79, 159, 79, 1);
}


#goToCategoryData {
    background-color: rgba(224, 157, 44, .8);
}

#goToCategoryData:hover {
    background-color: rgba(224, 157, 44, 1);
}


#goToCategoryTrading {
    background-color: rgba(203, 82, 67, .8);
}

#goToCategoryTrading:hover {
    background-color: rgba(203, 82, 67, 1);
}


/*--------------SMALL SCREENS ADJUSTMENTS--------------*/

@media screen and (max-width: 900px) {
    main {
        flex-direction: column-reverse;
    }
    #goToCategoryMenu {
        margin: 30px 5px 0 5px;
    }
}

@media screen and (max-width: 460px) {
    .previousCard > span, .nextCard > span {
        display: none;
    }
    .card {
        margin-bottom: 20px;
        max-width: 60vw;
    }
    .nextCategory {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 380px) {
    .previousCard img, .nextCard img {
        width: 4vw;
    }
    .cardContent {
        min-width: unset;
    }
    .card {
        max-width: unset;
        width: 70vw;
    }
    #footerBottom > p {
        font-size: 9px;
    }
}

@media screen and (max-height: 690px) {
    .card {
        height: 240px;
    }
}