/*--------------CARDS PLAYER----------------*/

button {
    cursor: pointer;
}

.goToCategoryButton {
    margin: 5px 10px;
}

.goToCategoryButton {
    color: white;
    font-size: 14px;
    padding: 3px 8px;
    border: none;
    border-radius: 10px;
    transition: background-color, transform .35s;
}

.goToCategoryButton:active {
    transform: scale(1.1);
}

.navigationButton {
    display: flex;
    background-color: transparent;
    border: none;
    transition: transform .45s;
    align-items: center;
}

.navigationButton:active {
    transform: scale(1.03);
}

.navigationButton:hover img {
    opacity: 1;
}

.navigationButton img {
    opacity: .7;
    transition: opacity .45s;
}

.navigationButton > span {
    margin: 5px 0;
    color: #dadada;
}

.previousCategory {
    flex-direction: column-reverse;
    margin-top: 20px;
    padding-top: 10px;
}

.nextCategory {
    flex-direction: column;
}

.previousCategory > img, .nextCategory > img {
    min-width: 150px;
    width: 15vw;
}

.previousCard {
    flex-direction: row-reverse;
}

.previousCard > span {
    text-align: right;
    margin-right: 7px;
}

.nextCard {
    flex-direction: row;
}

.nextCard > span {
    text-align: left;
    margin-left: 7px;
}

.previousCard > img, .nextCard > img {
    min-height: 100px;
    height: 15vw;
}

#categoriesManager {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
}

#goToCategoryMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 1vw 5px 1vw;
    max-width: 75%;
}


/*--------------CATEGORIES MANAGER----------------*/

.category {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.category.displayed {
    display: flex;
}


/*--------------CARDS MANAGER----------------*/

.cardsManager {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 }

.cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 35vw;
    width: 90%;
}

.card {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 35vh;
    min-width: 250px;
    max-width: 25vw;
    border-radius: 10px;
    margin: 0 30px 50px 30px;
    color: white;
    background-color: rgba(57, 74, 84, 0);
}

.card.displayed {
    display: flex !important;
}

.cardTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f50000aa;
    width: 96%;
    padding: 2%;
    border-radius: 10px 10px 0 0;
}

.cardTitle > h3 {
    color: #292932;
    margin: 0;
    font-size: 20px;
    text-align: center;
}

.cardContent {
    display: flex;
    width: 90%;
    padding: 0 5% 10px 5%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 14px;
}

.jobDescription {
    text-align: left;
}

.jobIllustration {
    margin-top: 20px;
    height: 100px;
}

.keyInformation {
    padding: 0;
}

.keyInformation > li {
    list-style: none;
    margin: 7px;
}


/*--------------Category Themes--------------*/

/*---Web---*/

#categoryWeb .card {
    box-shadow: rgba(240, 95, 136, .5) 0 0 70px;
    background-color: #3B3F48;
}

#categoryWeb .cardTitle {
    background-color: #F05F88;
}

#categoryWeb h2 {
    color: #F05F88;
}

#goToCategoryWeb {
    background-color: rgba(199, 35, 96, .8);
}

#goToCategoryWeb:hover {
    background-color: rgba(199, 35, 96, 1);
}


/*---Jeux vidéo---*/

#categoryVideoGames .card {
    box-shadow: rgba(169, 102, 171, .55) 0 0 50px;
    background-color: #373F4B;
}

#categoryVideoGames .cardTitle {
    background-color: #A966AB;
}

#categoryVideoGames h2 {
    color: #A966AB;
}

#goToCategoryVideoGames {
    background-color: rgba(127, 59, 137, .8);
}

#goToCategoryVideoGames:hover {
    background-color: rgba(127, 59, 137, 1);
}


/*---Sécurité---*/

#categorySecurity .card {
    box-shadow: rgba(138, 187, 230, .32) 0 0 70px;
    background-color: #2E404A;
}

#categorySecurity .cardTitle {
    background-color: #8ABBE6;
}

#categorySecurity h2 {
    color: #8ABBE6;
}

#goToCategorySecurity {
    background-color: rgba(71, 142, 205, .8);
}

#goToCategorySecurity:hover {
    background-color: rgba(71, 142, 205, 1);
}


/*---Science---*/
#categoryScience .card {
    box-shadow: rgba(120, 196, 124, .38) 0 0 50px;
    background-color: #304347;
}

#categoryScience .cardTitle {
    background-color: #78c47c;
}

#categoryScience h2 {
    color: #78c47c;
}

#goToCategoryScience {
    background-color: rgba(79, 159, 79, .8);
}

#goToCategoryScience:hover {
    background-color: rgba(79, 159, 79, 1);
}


/*---Data---*/
#categoryData .card {
    box-shadow: rgba(254, 210, 85, .3) 0 0 60px;
    background-color: #374246;
}

#categoryData .cardTitle {
    background-color: #FED255;
}

#categoryData h2 {
    color: #FED255;
}

#goToCategoryData {
    background-color: rgba(224, 157, 44, .7);
}

#goToCategoryData:hover {
    background-color: rgba(224, 157, 44, 1);
}


/*---Commerce---*/
#categoryTrading .card {
    box-shadow: rgba(245, 127, 97, .35) 0 0 70px;
    background-color: #383F45;
}

#categoryTrading .cardTitle {
    background-color: #F57F61;
}

#categoryTrading h2 {
    color: #F57F61;
}

#goToCategoryTrading {
    background-color: rgba(203, 82, 67, .8);
}

#goToCategoryTrading:hover {
    background-color: rgba(203, 82, 67, 1);
}


/*--------------CARDS SCROLLBAR--------------*/

@media screen and (min-width: 900px) {
    /*---Web---*/
    #categoryWeb ::-webkit-scrollbar-track {
        background-color: rgba(179, 30, 52, .2);
    }
    #categoryWeb ::-webkit-scrollbar-thumb {
        background-color: rgba(240, 95, 136, .4);
    }

    /*---Video games---*/
    #categoryVideoGames ::-webkit-scrollbar-track {
        background-color: rgba(87, 41, 111, .4);
    }
    #categoryVideoGames ::-webkit-scrollbar-thumb {
        background-color: rgba(169, 102, 171, .4);
    }

    /*---Security---*/
    #categorySecurity ::-webkit-scrollbar-track {
        background-color: rgba(38, 106, 176, .2);
    }
    #categorySecurity ::-webkit-scrollbar-thumb {
        background-color: rgba(138, 187, 230, .4);
    }

    /*---Science---*/
    #categoryScience ::-webkit-scrollbar-track {
        background-color: rgba(41, 137, 69, .2);
    }
    #categoryScience ::-webkit-scrollbar-thumb {
        background-color: rgba(120, 196, 124, .4);
    }

    /*---Data---*/
    #categoryData ::-webkit-scrollbar-track {
        background-color: rgba(181, 115, 41, .2);
    }
    #categoryData ::-webkit-scrollbar-thumb {
        background-color: rgba(254, 210, 85, .4);
    }

    /*---Trading---*/
    #categoryTrading ::-webkit-scrollbar-track {
        background-color: rgba(195, 33, 38, .2);
    }
    #categoryTrading ::-webkit-scrollbar-thumb {
        background-color: rgba(245, 127, 97, .4);
    }
}


/*--------------SMALL SCREENS ADJUSTMENTS--------------*/

@media screen and (max-width: 900px) {
    main {
        flex-direction: column-reverse;
    }
    #goToCategoryMenu {
        margin: 30px 5px 0 5px;
    }
}

@media screen and (max-width: 460px) {
    .previousCard > span, .nextCard > span {
        display: none;
    }
    .card {
        margin-bottom: 20px;
        max-width: 60vw;
    }
    .nextCategory {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 380px) {
    .previousCard img, .nextCard img {
        width: 4vw;
    }
    .card {
        max-width: unset;
        width: 70vw;
    }
    .cardContent {
        min-width: unset;
    }
    #footerBottom > p {
        font-size: 9px;
    }
}

@media screen and (max-height: 690px) {
    .card {
        height: 240px;
    }
}
