html {
    background-color: #0c1419;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98vw;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

h1, h2 {
    color: white;
}


/*--------------HEADER----------------*/

header {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    justify-content: flex-start;
    background-color: #272A2D;
    width: 100vw;
    height: 12vh;
    min-height: 80px;
    max-height: 120px;
}

header > img {
    max-height: 100px;
    min-height: 70px;
    height: 10vh;
    margin: 15px;
}

header > a {
    text-decoration: none;
}

header > a > h1 {
    font-weight: 700;
    font-size: 25px;
    margin-left:30px;
}


/*--------------PAGE CONTENT--------------*/

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15px;
    width: 70vw;
    height: max(400px, 78vh);
    background-color: #0F191E;
    overflow-y: auto;
}

/*--------------FOOTER--------------*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: flex-start;
    background-color: #272A2D;
    height: 10vh;
    min-height: 60px;
    width: 100vw;
}


footer > div {
    flex-direction: row;
    align-items: center;
    margin : 0;
    display: flex;
}

footer > div > a {
    margin: 7px 10px;
}

footer > div > a, footer > div > p {
    padding: 0;
    text-align: center;
}

#footerTop {
    justify-content: space-around;
    margin: auto 10px;
}

#footerTop > a {
    color : white;
    text-decoration: underline;
    font-size: 12px;
    font-weight: bold;
}

#footerBottom{
    justify-content: center;
    background-color: #3B4044;
    height: 27px;
}

#footerBottom > p{
    color : #e0e0e0;
    font-size: 11px;
    margin: 3px 10px 0 10px;
}


/*--------------SMALL SCREENS ADJUSTMENTS--------------*/

@media screen and (max-width: 900px) {
    main {
        flex-direction: column-reverse;
        width: 100vw !important;
    }
}
