/*--------------PAGE SITEMAP--------------*/

details{
    color : white;
    width: 40%;
    margin: 20px 10px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

details > summary{
    font-size: 25px;
}

#categoriesContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width : 100%;
}

details > hr{
    width: 80%;
    margin-left: 0;
    margin-bottom: 22px;
}

ul{
    list-style-type: square;
    padding: 20px auto;
}

li{
    margin-top: 13px;
}

/*---Web---*/
#CategoryWeb > summary::marker, #CategoryWeb > summary::-webkit-details-marker{
    color : #F05F88;
}

#CategoryWeb > ul{
    border-left: 5px solid #F05F88;
}
#CategoryWeb{
    background-color: #3A3E47;
}
/*---Jeux vidéo---*/

#CategoryVideoGame > summary::marker, #CategoryVideoGame > summary::-webkit-details-marker{
    color : #A966AB;
}

#CategoryVideoGame > ul{
    border-left: 5px solid #A966AB;
}
#CategoryVideoGame{
    background-color: #373F4B;
}
/*---Sécurité---*/

#CategorySecurity > summary::marker, #CategorySecurity > summary::-webkit-details-marker{
    color : #8ABBE6;
}

#CategorySecurity > ul{
    border-left: 5px solid #8ABBE6;
}
#CategorySecurity{
    background-color: #2E404A;
}
/*---Science---*/

#CategoryScience > summary::marker, #CategoryScience> summary::-webkit-details-marker{
    color : #78c47c;
}

#CategoryScience > ul{
    border-left: 5px solid #78c47c;
}
#CategoryScience{
    background-color: #304347;
}

/*---Data---*/

#CategoryData > summary::marker, #CategoryData > summary::-webkit-details-marker{
    color : #FED255;
}

#CategoryData > ul{
    border-left: 5px solid #FED255;
}
#CategoryData{
    background-color: #374246;
}

/*---Commerce---*/

#CategoryTrading > summary::marker, #CategoryTrading > summary::-webkit-details-marker{
    color : #F57F61;
}

#CategoryTrading > ul{
    border-left: 5px solid #F57F61;
}
#CategoryTrading{
    background-color: #383F45;
}