/*--------------PAGE SITEMAP--------------*/

details {
    color : white;
    width: 40%;
    margin: 20px 10px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-radius: 5px;
}

details > summary {
    font-size: 25px;
}

details > hr {
    width: 80%;
    margin-left: 0;
    margin-bottom: 22px;
    border: none;
    height: 2px;
}

ul {
    list-style-type: square;
    padding-top: 0;
    padding-bottom: 2px;
}

li {
    margin-top: 13px;
}

#categoriesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width : 100%;
}


/*---Web---*/
#CategoryWeb {
    background-color: #3A3E47;
}
#CategoryWeb > summary::marker, #CategoryWeb > summary::-webkit-details-marker {
    color : #F05F88;
}
#CategoryWeb hr {
    background-color: #F05F88;
}
#CategoryWeb > ul {
    border-left: 5px solid #F05F88;
}


/*---Jeux vidéo---*/
#CategoryVideoGame {
    background-color: #373F4B;
}
#CategoryVideoGame > ul {
    border-left: 5px solid #A966AB;
}
#CategoryVideoGame > summary::marker, #CategoryVideoGame > summary::-webkit-details-marker {
    color : #A966AB;
}
#CategoryVideoGame hr {
    background-color: #A966AB;
}


/*---Sécurité---*/

#CategorySecurity{
    background-color: #2E404A;
}
#CategorySecurity > ul{
    border-left: 5px solid #8ABBE6;
}
#CategorySecurity > summary::marker, #CategorySecurity > summary::-webkit-details-marker {
    color : #8ABBE6;
}
#CategorySecurity hr {
    background-color: #8ABBE6;
}


/*---Science---*/
#CategoryScience {
    background-color: #304347;
}
#CategoryScience > ul {
    border-left: 5px solid #78c47c;
}
#CategoryScience > summary::marker, #CategoryScience> summary::-webkit-details-marker {
    color : #78c47c;
}
#CategoryScience hr {
    background-color: #78c47c;
}


/*---Data---*/
#CategoryData {
    background-color: #374246;
}
#CategoryData > ul {
    border-left: 5px solid #FED255;
}
#CategoryData > summary::marker, #CategoryData > summary::-webkit-details-marker {
    color : #FED255;
}
#CategoryData hr {
    background-color: #FED255;
}


/*---Commerce---*/

#CategoryTrading {
    background-color: #383F45;
}
#CategoryTrading > ul {
    border-left: 5px solid #F57F61;
}
#CategoryTrading > summary::marker, #CategoryTrading > summary::-webkit-details-marker {
    color : #F57F61;
}
#CategoryTrading hr {
    background-color: #F57F61;
}


/*--------------SMALL SCREENS ADJUSTMENTS--------------*/

@media screen and (max-width: 700px) {
    details {
        width: 70%;
    }
}
